@page
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model WebApp.Pages_FileGames.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>TIME TO PLAY </h1>

<div>The number of mines: @Model.mineCount</div>
<div class="mb-4">On board @Model.boardWidth x @Model.boardHeight</div>


<form method="post" id="mineCoordPost">
    <div class="form-group form-check">
        <input asp-for="placeFlag" type="checkbox" class="form-check-input" id="flagCheck">
        <label asp-for="placeFlag" class="form-check-label">Place flag?</label>
    </div>
    @for (int y = 0; y < Model.boardHeight; y++)
    {
        <div class="d-flex">
            @for (int x = 0; x < Model.boardWidth; x++)
            {
                <div class="border text-center p-1" style="width: 2.2rem; height: 2.2rem;">
                    @if (string.IsNullOrWhiteSpace(Model.ReturnSquareState(Model.gameBoard[y, x])))
                    {
                        <button type="button" onclick="AddCoordinates(@y, @x)" class="btn btn-primary py-0 px-1" id="@(y + 1),@(x + 1)">H</button>
                    }else if (Model.ReturnSquareState(Model.gameBoard[y, x]) == "F")
                    {
                        <button type="button" onclick="AddCoordinates(@y, @x)" class="btn btn-success py-0 px-1" id="@(y + 1),@(x + 1)">F</button>
                    }else if (Model.ReturnSquareState(Model.gameBoard[y, x]) == "X")
                    {
                        <span class="text-danger font-weight-bold">@Model.ReturnSquareState(Model.gameBoard[y, x])</span>
                    }
                    else
                    {
                        @Model.ReturnSquareState(Model.gameBoard[y, x])
                    }
                </div>
            }
        </div>
    }
    @if (!Model.gameOver)
    {
        <div>
            <div class="form-group form-check">
                <input asp-for="squareX" type="hidden" class="form-check-input" id="sqX">
            </div>
            <div class="form-group form-check">
                <input asp-for="squareY" type="hidden" class="form-check-input" id="sqY">
            </div>
            <div class="text-success">Make your move</div>
        </div>
    }
    else
    {
        <div class="text-danger font-weight-bold">GAME OVER</div>
    }
</form>

<div class="mt-2">
    <a asp-page="./Index">Back to Game List</a>
</div>

<script >
    function AddCoordinates(y, x){
        document.getElementById("sqX").value = x;
        document.getElementById("sqY").value = y;
        document.getElementById("mineCoordPost").submit();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
