@page
@model WebApp.Pages_FileGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All current games</h1>

@for (int i = 1; i < 4; i++)
{
    <div class="card rounded p-3 mb-2">
        <div class="row">
            @if (i <= Model.FileGames.Count)
            {
                <div class="col-2 font-weight-bold">@Model.FileGames[i-1].FileGameName</div>
            }
            else
            {
                <div class="col-2 font-weight-bold">None</div>
            }
            <div class="col d-flex justify-content-end">
                @if (i <= Model.FileGames.Count)
                {
                    <a asp-page="./Details" asp-route-id="@i" class="btn btn-primary mr-2">Play</a>
                }
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-@i">Start New Game</button>
            </div>
        </div>
        <form method="post" class="collapse mt-3" id="collapse-@i">
            @if (i <= Model.FileGames.Count)
            {
                <div class="text-danger font-weight-bold mb-4">THERE IS A SAVE GAME ALREADY. START NEW AT YOUR OWN RISK</div>
            }
            <div class="form-group d-flex">
                <label asp-for="height" class="control-label col-2" id="gameHeight@(i)"></label>
                <input asp-for="height" class="form-control col-2" id="gameHeight@(i)" placeholder="Between 8 to 50"/>
                <span asp-validation-for="height" class="text-danger" id="gameHeight@(i)"></span>
            </div>
            <div class="form-group d-flex">
                <label asp-for="width" class="control-label col-2" id="gameWidth@(i)"></label>
                <input asp-for="width" class="form-control col-2" id="gameWidth@(i)" placeholder="Between 8 to 50"/>
                <span asp-validation-for="width" class="text-danger" id="gameWidth@(i)"></span>
            </div>
            <div class="form-group d-flex">
                <label asp-for="mines" class="control-label col-2" id="gameMines@(i)"></label>
                <input asp-for="mines" class="form-control col-2" id="gameMines@(i)" placeholder="Enter mine count"/>
                <span asp-validation-for="mines" class="text-danger" id="gameMines@(i)"></span>
            </div>
            <div class="form-group d-flex">
                <label asp-for="name" class="control-label col-2" id="gameName@(i)"></label>
                <input asp-for="name" class="form-control col-2" id="gameName@(i)" placeholder="Must be at least 2"/>
                <span asp-validation-for="name" class="text-danger" id="gameName@(i)"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-page-handler="StartGame@(i)" value="Start" class="btn btn-primary"/>
            </div>
        </form>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}