@page
@model WebApp.Pages_BookAuthors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookAuthor</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="BookAuthor.BookId" class="control-label col font-weight-bold"></label>
                <select asp-for="BookAuthor.BookId" class ="form-control col-6" asp-items="Model.BookAuthorBookSelectList"></select>
            </div>
            <div class="form-group row">
                <label asp-for="BookAuthor.AuthorId" class="control-label col font-weight-bold"></label>
                <select asp-for="BookAuthor.AuthorId" class ="form-control col-6" asp-items="Model.BookAuthorAuthorSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

