@page
@model WebApp.Pages_BookAuthors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookAuthor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor.Book!.BookDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor.Author!.AuthorFirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BookAuthor.BookAuthorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
