@page
@model WebApp.Pages_BookAuthors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookAuthor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor.Book!.BookDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor.Author!.AuthorFirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookAuthor.BookAuthorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
