@page
@using System.Linq
@model WebApp.Pages_Comments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Comment.CommentValue" class="control-label col font-weight-bold"></label>
                <input asp-for="Comment.CommentValue" class="form-control col-6"/>
                <span asp-validation-for="Comment.CommentValue" class="text-danger"></span>
            </div>
            @{
                if (Model.bookComment == 0)
                {
                    <div class="form-group row">
                        <label asp-for="Comment.BookId" class="control-label col font-weight-bold"></label>
                        <select asp-for="Comment.BookId" class="form-control col-6" asp-items="Model.CommentBookSelectList"></select>
                    </div>
                }
                else
                {
                    @Model.bookComment
                    <div class="form-group row">
                        <label asp-for="Comment.BookId" class="control-label col font-weight-bold"></label>
                        <input asp-for="Comment.BookId" type="text" readonly class="col-6 p-0 form-control-plaintext" value="Comment.BookId">
                    </div>                    
                }
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

