@page
@model WebApp.Pages_Comments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CommentValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.CommentValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Book!.BookDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Comment.CommentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
