@page
@model WebApp.Pages_Comments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
@{
    if (Model.currentBook == 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment[0].CommentValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment[0].Book)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Comment) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book!.BookTitle)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CommentId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.CommentId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CommentId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    }
    else
    {
        <h1>
            @Html.DisplayFor(model => model.Comment[0].Book!.BookTitle)
        </h1>
        <div class="font-weight-bold">
            Comments:
        </div>
        @foreach (var comment in Model.Comment)
        {
            <div class="d-flex">
                <div class="mb-2 mr-4">
                    "@Html.DisplayFor(modelItem => comment.CommentValue)"
                </div>
                <div>
                    <a asp-page="./Delete" asp-route-id="@comment.CommentId" class="btn btn-danger p-0 px-1">X</a>
                </div>
            </div>
        }
    }
}

