@page
@model WebApp.Pages_Publishers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Publisher</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Publisher.PublisherId" />
            <div class="form-group row">
                <label asp-for="Publisher.PublisherName" class="control-label col font-weight-bold"></label>
                <input asp-for="Publisher.PublisherName" class="form-control col-6" />
                <span asp-validation-for="Publisher.PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

