@page
@model WebApp.Pages_Books.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Book.BookTitle" class="control-label col font-weight-bold"></label>
                <input asp-for="Book.BookTitle" class="form-control col-6" />
                <span asp-validation-for="Book.BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Book.BookDescription" class="control-label col font-weight-bold"></label>
                <input asp-for="Book.BookDescription" class="form-control col-6" />
                <span asp-validation-for="Book.BookDescription" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Book.BookPublishingYear" class="control-label col font-weight-bold"></label>
                <input asp-for="Book.BookPublishingYear" class="form-control col-6" />
                <span asp-validation-for="Book.BookPublishingYear" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Book.BookWordCount" class="control-label col font-weight-bold"></label>
                <input asp-for="Book.BookWordCount" class="form-control col-6" />
                <span asp-validation-for="Book.BookWordCount" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Book.PublisherId" class="control-label col font-weight-bold"></label>
                <select asp-for="Book.PublisherId" class ="form-control col-6" asp-items="Model.BookPublisherSelectList"></select>
            </div>
            <div class="form-group row">
                <label asp-for="Book.LanguageId" class="control-label col font-weight-bold"></label>
                <select asp-for="Book.LanguageId" class ="form-control col-6" asp-items="Model.BookLanguageSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

