@page
@model WebApp.Pages_Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookPublishingYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookPublishingYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookWordCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookWordCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Publisher!.PublisherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Language!.LanguageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.BookId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
