@page
@model WebApp.Pages_Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All books</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="get" class="form-inline mb-2">
    <div class="form-group">
        <input asp-for="@Model.Search" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary"/>
        <input type="submit" value="Clear" name="ResetSearch" class="btn btn-danger"
               @(string.IsNullOrWhiteSpace(Model.Search) ? "disabled=\"disabled\"" : "")>
    </div>
</form>

@if (!string.IsNullOrWhiteSpace(Model.Search))
{
    <p>Searching for: @Model.Search</p>
}
<p>Records: @Model.Books.Count</p>

@foreach (var item in Model.Books)
{
    <div class="card mb-3">
        <div class="d-flex card-header">
            <a asp-page="./Details" asp-route-id="@item.Book.BookId">Title: @Html.DisplayFor(modelItem => item.Book.BookTitle)</a>
            <div class="ml-auto">
                <a class="mr-2" asp-page="./Edit" asp-route-id="@item.Book.BookId">Edit</a>
                <a class="float-right btn btn-danger p-0 px-1" asp-page="./Delete" asp-route-id="@item.Book.BookId">X</a>                
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex flex-row">
                <div class="flex-fill">
                    <span class="font-weight-bold">Published:</span>
                    @Html.DisplayFor(modelItem => item.Book.BookPublishingYear)
                </div>
                <div class="flex-fill">
                    <span class="font-weight-bold">Publisher:</span>
                    @Html.DisplayFor(modelItem => item.Book.Publisher!.PublisherName)
                </div>
                <div class="flex-fill">
                    <span class="font-weight-bold">Words:</span>
                    @Html.DisplayFor(modelItem => item.Book.BookWordCount)
                </div>
            </div>
            <div class="mb-4">
                <span class="font-weight-bold">Language:</span>
                @Html.DisplayFor(modelItem => item.Book.Language!.LanguageName)
            </div>
            <div class="border-top mb-2">
                <span class="font-weight-bold">Authors:</span>
                @foreach (var bookAuthor in item.Book.BookAuthors)
                {
                    @Html.DisplayFor(modelItem => bookAuthor.Author!.FirstLastName)
                }
            </div>
            <div>
                <span class="text-muted font-weight-bold">Description:</span>
                <div>@Html.DisplayFor(modelItem => item.Book.BookDescription)</div>
            </div>
            <div class="border-top mt-3">
                <a asp-page="/Comments/Index" asp-route-bookid="@item.Book.BookId">All Comments (@item.BookCommentCount)</a>
                -
                <a asp-page="/Comments/Create" asp-route-bookid="@item.Book.BookId">Add comment</a>

                <div>
                    <span class="text-muted font-weight-bold">Last comment: </span>
                    "@item.BookLastComment"
                </div>
                @*
                @foreach (var comment in item.Book.Comments.OrderByDescending(c => c.CommentId).Take(1))
                {
                    <p>@Html.DisplayFor(modelItem => comment.CommentValue)</p>
                }
                *@
            </div>
        </div>
    </div>
}
