@page
@model WebApp.Pages_Authors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.AuthorFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.AuthorLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.DOB)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Author.AuthorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
