@page
@model WebApp.Pages_Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].AuthorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].AuthorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].AuthorBookCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Authors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorBookCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Author.AuthorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Author.AuthorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Author.AuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
