@page
@model WebApp.Pages.uploads.Index

@{
    ViewData["Title"] = "Index";
}

<h1>Uploaded files</h1>

<p>
    <a asp-page="Upload">Upload New File</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Img
            </th>
            <th>
                Filename
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.FileNames) {
        <tr>
            <td>
                <img src="~/uploads/@item" height="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
