@page
@model WebApp.Pages.uploads.Upload

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Language</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="FormFile" class="control-label col font-weight-bold"></label>
                <input asp-for="FormFile" class="form-control col-6" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

